# Script to configure X, start common apps, and start xmonad.

# There is a bug in nixos where this script ends up being executed twice
# this makes it idempotent
if [ -z $_XPROFILE_SOURCED ]; then
  export _XPROFILE_SOURCED=1

  # Configure X
  xsetroot -cursor_name left_ptr &
  #xrdb -merge ~/.Xresources &

  # Start the system tray
  stalonetray &

  # Start volume control
  pasystray &

  # Start bluetooth manager
  blueman-applet &

  # Start 1password
  1password --silent &
fi
